<a href="https://colab.research.google.com/github/MiguelDeleon10/CPE009A-OOP/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 5>2:
  print("five is greater than two")

five is greater than two

# Phyton Comment

In [ ]:
if 5>2:
  print("five is greater than two") #comparison of five and two

Phyton Viriables

In [ ]:
x=1 #this is a single viriavle with a value
a,b=0,-1

  print(a)
  print(b)
  print(x)

  b="sally"
  print(b)

IndentationError: unexpected indent (<ipython-input-11-f9b81dd8e2da>, line 4)

Phyton Casting

In [ ]:
b="sally"#this is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

**Type**()fu

Double Quotes or Single Quotes

In [ ]:
y="john"
print(y)

y='jhon'
print(y)

Case Sensitive

In [ ]:
a=4
A="sally"
#a will not overwrite a

Multiple Viriables

In [22]:
x,y,z= "one", "two","three"
  print(x)
  print(y)
  print(z)

IndentationError: unexpected indent (<ipython-input-22-f6c9886811c0>, line 2)

One Value to Multiple Viriable

In [ ]:
x=y=z="four"

  print(x)
  print(y)
  print(z)

IndentationError: unexpected indent (<ipython-input-13-714ebd7d3d3f>, line 3)

Output Viriables

In [ ]:
x="enjoying"
print("python programming is "+" "+x)

python programming is  enjoying

Other way

In [ ]:
x="Phython is"
y="enjoying"
z=x+y
print(z)

Phython isenjoying

Assignment Operators

In [ ]:
a,b,c=0,-1,6
c%=3
c

0

Comparison Operators

In [ ]:
x=1
y=1
x==y

True

Logical Operators

In [ ]:
x=1
x<5 and x<10

True

Identity Operators

In [ ]:
a,b,c=0,-1,

False

Bitwise Operators